<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>SEO - Meta Tag Generator | Etherio</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/monokai.min.css"
    />
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
  </head>
  <body>
    <div class="my-4 container" id="app">
      <div class="mb-3">
        <label class="form-label" for="title">Site Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          v-model="formData.title"
          @change="update()"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Short Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          v-model="formData.description"
          @change="update()"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Preview Image</label>
        <input
          type="url"
          class="form-control"
          id="image"
          v-model="formData.image"
          @change="update()"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="url">URL</label>
        <input
          type="url"
          class="form-control"
          id="url"
          v-model="formData.url"
          @change="update()"
        />
      </div>
      <div class="py-2"><hr /></div>
      <div class="position-relative">
        <a
          href="javascript:void(0);"
          class="position-absolute badge bg-primary rounded-pill text-decoration-none"
          style="top: 8px; right: 8px"
        >
          {{copied?'Copied':'Click to Copy'}}
        </a>
        <pre><code
    class="language-html"
    ref="output"
    v-text="outputHtml"
    @click="copyClipboard()"
  >
</code></pre>
      </div>
    </div>
    <script>
      let _t;

      new Vue({
        data: {
          formData: {
            title: "",
            description: "",
            image: "",
            url: "",
          },
          copied: false,
          outputHtml: "",
          renderedHtml: "",
        },
        methods: {
          update() {
            const formData = this.formData;
            this.renderedHtml = `      <!-- For Primary (Google, etc)  -->
      <meta name="title" content="${this.formData.title}">
      <meta name="description" content="${formData.description}">
      <meta name="image" content="${formData.image}">

      <!-- For Facebook (Open Graph) -->
      <meta property="og:type" content="website">
      <meta property="og:title" content="${formData.title}">
      <meta property="og:description" content="${formData.description}">
      <meta property="og:image" content="${formData.image}">
      <meta property="og:url" content="${formData.url}">

      <!-- For Twitter [Image Card] -->
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:title" content="${formData.title}">
      <meta property="twitter:description" content="${formData.description}">
      <meta property="twitter:image" content="${formData.image}">
      <meta property="twitter:url" content="${formData.url}">`;
            this.highlight();
          },
          highlight() {
            this.copied = false;
            _t && clearTimeout(_t);
            _t = setTimeout(() => {
              this.outputHtml = this.renderedHtml;
              requestAnimationFrame(() =>
                hljs.highlightElement(this.$refs.output)
              );
            }, 200);
          },
          copyClipboard() {
            this.copied = true;
            navigator.clipboard.writeText(this.outputHtml);
          },
        },
        mounted() {
          this.update();
        },
      }).$mount("#app");
    </script>
  </body>
</html>
